.apply_opt {
  @extend %initial;
  .conter {
    padding-left: toRem(30px);
    background: $color15;
    overflow: auto;
    & > div {
      display: flex;
      align-items: center;
      height: toRem(120px);
      color: $color18;
      font-size: $font33;
      //padding-right: toRem(30px);
      position: relative;
      @include border-Bbottom-color23;
      span {
        flex: 1;
      }
      i {
        padding: toRem(40px);
        background: url("../cmHelper/images/apply/icon_moBanShuoMing.png") no-repeat center toRem(30px);
        background-size: toRem(30px);
      }
    }
  }
}

.alert .alert-modal {
  width: toRem(640px);
  padding: toRem(52px) toRem(60px) !important;
  border-radius: toRem(20px);
  .alert-title {
    display: block !important;
    color: $color18;
    font-size: $font33;
    font-weight: normal;
  }
  .alert-message {
    padding: 0 0 0 0;
    line-height: toRem(44px);
    color: $color17;
    font-size: $font23;
    text-align: justify;
  }
  .alert-footer {
    display: none;
  }
}
