.ranking_list {
  @extend %initial;
  .pb-common-nav {
    .icon_calendar {
      display: inline-block;
      width: toRem(100px);
      margin-right: toRem(30px);
      height: 43px;
      background: url("../cmHelper/images/apply/icon_calendar.png") no-repeat center right;
      background-size: toRem(37px) toRem(35px);
      /*width: toRem(37px);
      height: toRem(35px);
      margin:toRem(30px)*/
    }
  }
  .ranking_date {
    padding-left: toRem(30px);
    background: $color22;
    color: $color17;
    font-size: $font11;
    height: toRem(58px);
    line-height: toRem(57px);
    border-bottom: 1px solid $color23;
  }
  .tableBody {
    position: static;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .borderBottom {
      border-bottom: 1px solid rgba(228, 231, 240, 0.5);
    }
    .TheadWrap {
      //height: toRem(80px);
      width: 100%;
      overflow: hidden;
      z-index: 2;
      display: flex;
      color: $color17;
      font-size: $font26;
      .table1 {
        tr {
          td {
            &:nth-of-type(1) {
              width: toRem(116px);
              text-align: center;
              min-width: toRem(58px);
            }
            &:nth-of-type(2) {
              width: toRem(190px);
              min-width: toRem(58px);
            }
          }
        }
      }
      tr {
        height: toRem(88px);
      }
    }
    .TbodyInner {
      //margin-top: 39px;
      display: flex;
      overflow: hidden;
      color: $color18;
      font-size: $font33;
      .brief {
        tr {
          td {
            &:nth-of-type(1) {
              width: toRem(116px);
              text-align: center;
              min-width: toRem(58px);
              img {
                width: toRem(37px);
                height: toRem(48px);
              }
              div {
                width: toRem(38px);
                height: toRem(38px);
                color: $color15;
                background: $color47;
                margin: 0 auto;
                border-radius: toRem(40px);
                font-size: $font23;
                text-align: center;
                line-height: toRem(38px);
              }
            }
            &:nth-of-type(2) {
              div {
                width: toRem(190px);
                line-height: 1;
                &:nth-of-type(1) {
                  padding-bottom: toRem(10px);
                  font-size: $font10;
                }
                &:nth-of-type(2) {
                  color: $color17;
                  font-size: $font23;
                }
              }
            }
          }
        }
      }
      tr {
        height: toRem(130px);
      }
      .detail {
        position: relative;
        left: -1px;
        tr {
          & > td {
            span {
              display: inline-block;
            }
            text-align: right;
            &:nth-child(1) {
              span {
                width: toRem(194px);
              }
            }
            &:nth-child(2) {
              span {
                width: toRem(222px);
              }
            }
            &:nth-child(3) {
              span {
                width: toRem(195px);
              }
            }
            &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
              span {
                width: toRem(260px);
              }
            }
            &:nth-child(8) {
              span {
                width: toRem(230px);
              }
            }
            &:nth-child(9) {
              span {
                width: toRem(216px);
              }
            }
            &:nth-child(10) {
              span {
                width: toRem(254px);
              }
            }
            &:nth-child(11) {
              span {
                width: toRem(30px);
              }
            }
            &:nth-child(12), &:nth-child(13), &:nth-child(14), &:nth-child(15) {
              span {
                width: toRem(212px);
              }
            }
            &:nth-child(16) {
              span {
                min-width: toRem(90px);
              }
            }
            &:nth-child(17) {
              span {
                min-width: toRem(30px);
              }
            }
          }
        }
      }
    }

    .detailOuter {
      flex: 1;
      overflow: hidden;
      tr {
        & > td {
          span {
            display: inline-block;
          }
          text-align: right;
          &:nth-child(1) {
            span {
              width: toRem(194px);
            }
          }
          &:nth-child(2) {
            span {
              width: toRem(222px);
            }
            img {
              margin-left: toRem(10px);
              width: toRem(9px);
              height: toRem(15px);
            }
          }
          &:nth-child(3) {
            span {
              width: toRem(195px);
            }
          }
          &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
            span {
              width: toRem(260px);
            }
          }
          &:nth-child(8) {
            span {
              width: toRem(230px);
            }
          }
          &:nth-child(9) {
            span {
              width: toRem(216px);
            }
          }
          &:nth-child(10) {
            span {
              width: toRem(254px);
            }
          }
          &:nth-child(11) {
            span {
              width: toRem(30px);
            }
          }
          &:nth-child(12), &:nth-child(13), &:nth-child(14), &:nth-child(15) {
            span {
              width: toRem(212px);
            }
          }
          &:nth-child(16) {
            span {
              min-width: toRem(90px);
            }
          }
          &:nth-child(17) {
            span {
              min-width: toRem(30px);
            }
          }
        }
      }
    }
    .ps-scrollbar-x-rail, .ps-scrollbar-y-rail {
      display: none;
    }
  }
}
