.toast {
  @include font(15px);
}

.zdytime {
  padding-top: 44px;
  a:not([href]),
  a:not([href]):focus,
  a:not([href]):hover {
    color: #ffffff;
  }

  .zdytime-title {
    text-align: center;
    color: $color-bg-grounding;
  }

  .time-selected-items {
    background-color: $color-bg-grounding;
    padding-left: toRem(30px);
    .time-selected-options {
      display: flex;
      position: relative;
      height: toRem(100px);
      line-height: toRem(100px);
      padding-right: toRem(30px);
      font-size: $font33;
      color: #1a1a1a;
      @include clearfix;
      &:first-child {
        position: relative;
        @include border-TBottom-color23;
      }
      span {
        color: $color1;
        flex: 1;
        text-align: right;
      }
      .time-start-title {
        //font-size: toRem(28px);
        @include font(15px);
        width: 49.9%;
        flex: 1;
      }
      input {
        position: absolute;
        right:0;
        //width: 100%;
        outline: none;
        border: none;
        opacity: 0;
      }
      /*.time-start-content {
        position: relative;
        height: toRem(100px);
        line-height: toRem(99px);
        float: left;
        width: 49.9%;
        text-align: right;
        @include font(15px);

        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }*/
    }
  }

  .zdytime-submit-button {
    display: block;
    margin: 0 toRem(30px);
    margin-top: toRem(120px);
    height: toRem(86px);
    text-align: center;
    line-height: toRem(86px);
    color: #ffffff;
    //font-size: toRem(36px);
    @include font(18px);
    background-image: url(../images/juxinganniudefault@2x.png);
    background-size: toRem(690px) toRem(86px);
    background-repeat: no-repeat;
  }
}
