@mixin font($font-size) {
  font-size: $font-size;

  [data-dpr = '2'] & {
    font-size: $font-size * 2;
  }

  [data-dpr = '3'] & {
    font-size: $font-size * 3;
  }
}

@function toRem($px) {
  @return $px / 75px * 1rem;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
  *height: 1%;
}

ul,li{
  margin:0;
  padding:0;
  list-style: none;
}
input{
  outline:none;
}
@import "./set";
@import "../../alerted/style/tab";
@import "../../alerted/style/alertLoding";
@import "./_noneConList";

.divFixed{
  .conditionDiv{
    width: 50%;
  }
  .nonePc{
    width: 100%;
  }
}


/*html, body { font-family: Microsoft Yahei, Arial, Helvetica, sans-serif; }
body {padding-top: 44px; font-size: 16px; line-height: 18px; color: #1a1a1a;}
.conditionDiv{text-align: center;float: left;width:33.3%; border: solid 1px #e4e7f0; height: 32px; line-height: 32px;
  font-size: 16px; color: #808086;background: #fff;
}
.conditionDiv a{ color: #808086;text-decoration: none;}
.touchConditionDiv{text-align: center;float: left;width:33.3%; border: solid 1px #e4e7f0; height: 32px; line-height: 32px;
  font-size: 16px; color: #3366cc; background: #e6e6ec;
}
!*nav title css start*!
.navInfo{ width:100%;height:44px;background:#3366cc;line-height: 44px;min-height:44px }
.titleBack{text-align: center;float:left;width:9%;}
.nav-title{text-align: center;float:left;width:75%;color:#ffffff;font-size:18px; line-height: 44px;}
.navThree{text-align: center;float:left;width:16%;}
.noneRight{border-right: none;}
!*nav title css end*!
.splitLine{width: 100%; height: 6.5px;  clear: both;}
table{background: #fff;      border-top: solid 1px #e4e7f0;}

!*294% 36px;*!
.greenTd{color: #12a438 !important;}
.blueTd{color:#3366cc !important;}
.redTd{color:#fe0000 !important;}
.dialog-info{width: 70%;margin:0 auto;}
.modal-dialog{margin-top: 80%;}
.dialog-bottom{text-align: center; font-size: 16px;  color: #1a1a1a;border-bottom: solid 1px #e4e7f0;}

!*ss344  43*!
.navThreeTitle{color: #fff;}
.setDivOne{width:50%;float:left;}
.setDivTwo{width:19%;float: left; text-align: right; color: #808086; font-size: 16px;}
.setDivThree{width:31%;float:left; font-size: 17px;color: #28aa49; font-weight: bold;padding-left: 8px;}

.conOne{width:65%;float:left; color: #1a1a1a; font-size: 17px; }
.conSpanOne{border: solid 1px #c0c6cd; height: 30px;display: inline-block;line-height: 29.5px;
  width: 40%;margin-right: -5px;    border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;font-size: 15px;background: #3366cc;color: #fff;text-align: center;border-right: none;}
.conSpanFour{border: solid 1px #c0c6cd; height: 30px; display: inline-block; line-height: 29.5px;
  width: 40%;     border-top-right-radius: 3px;background: #3366cc;color: #fff;
  border-bottom-right-radius: 3px; font-size: 15px; text-align: center;}
.priceOne{width:27%;float:left;}
.priceTwo{width:4%;float:left;height: 1px;}
.priceThree{width:69%;float:left;margin-top: -1px;}
.priceOne input{height:32.5px;line-height:32.5px;width: 100%;border-radius: 3px; border: solid 1px #3366cc;}
.priceOne input:focus{border:solid 1px #3366cc;outline: none}
.priceThree input{height: 32.5px;
  line-height: 32.5px;
  width: 95%;
  color: #808086;
  border-radius: 3px;
  border: solid 1px #c0c6cd;
  text-align: center;
  font-size: 15px;}
.priceThree input:focus{border:solid 1px #c0c6cd;outline: none}
.conTypeOne{width:40%;float:left; color: #1a1a1a; font-size: 17px; }
.conTypeTwo{width:60%;float:left; text-align: center;margin-top:-1px;}
.conSpanTyeOne{border: solid 1px #c0c6cd; height: 30px;display: inline-block;line-height: 29.5px;
  width: 30%;margin-right: -5px;    border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;font-size: 15px;background: #3366cc;color: #fff;text-align: center;border-right: none;}
.conSpanTyeTwo{border-left: solid 1px #c0c6cd; border-top: solid 1px #c0c6cd;border-bottom: solid 1px #c0c6cd;height: 30px; display: inline-block; line-height: 29.5px;
  width: 30%;     margin-right: -4px;font-size: 15px;  color: #808086;text-align: center;}
.conSpanTyeThree{border: solid 1px #c0c6cd; height: 30px; display: inline-block; line-height: 29.5px;
  width: 30%;     border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; font-size: 15px;  color: #808086;text-align: center;}
.conSpanTyeOneBlue{border: solid 1px #c0c6cd; height: 30px;display: inline-block;line-height: 29.5px;
  width: 30%;margin-right: -5px;    border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;font-size: 15px; color: #808086;text-align: center;border-right: none;}
.conSpanTyeTwoBlue{border: solid 1px #c0c6cd; height: 30px; display: inline-block; line-height: 29.5px;
  width: 30%;  font-size: 15px;background: #3366cc;color: #fff;text-align: center;    border-right: none;
  margin-right: -4px;}
.conSpanTyeThreeBlue{border: solid 1px #c0c6cd; height: 30px;display: inline-block;line-height: 29.5px;
  width: 30%;margin-right: -5px;    border-top-right-radius: 3px;
  border-top-right-radius: 3px;font-size: 15px; background: #3366cc;color: #fff;text-align: center;border-right: none;}
.market{display: inline-block; height: 32.5px; line-height: 31.5px; font-size: 15px;
  color: #808086; width: 82%; border-radius: 3px;}
.marketDate{border: solid 1px #c0c6cd; display: inline-block; height: 32.5px; line-height: 32px; font-size: 15px;
  color: #808086; width: 82%; border-radius: 3px;padding-left:10px}


.btnDiv{text-align: center;margin-top:46px;}
.modal-content a{color:#1a1a1a}
.navbar-fixed-bottom{bottom: 0; border-width: 0 0 1px;position: fixed;  right: 0; left: 0; z-index: 1030;
  width: 100%;font-size: 10px; color: #808086; height: 71px; background: #fffef2;  line-height: 37px; min-height: 44px;
  padding-left:48.5px;}
.navbar-fixed-bottom p{margin-bottom: -18px; }
.footerP{ padding-left: 39px;}
.p1{padding-left: 86px !important;}
.stopNoTuch{text-align: center;float: left;width:50%; border-bottom: solid 1px #e4e7f0; height: 32px; line-height: 28px;
  font-size: 16px; color: #808086;background: #fff;
}
.bordercolor{
  border-bottom: 2px solid #3366cc;
}
.stopNoTuch a{ color:#1a1a1a;}
.stopMoreImg{width: 8px; height: 16px;}
.conDivInfo{height: 20px;font-size: 14px;width: 97%;margin-left:auto;margin-right:auto;margin-top: 10px;}
.conBtn{margin-top: 10px; margin-bottom: 30px;}
.spanBlue{color:#14a238}
.spanRed{color:#fe0000;margin-right: 20px;}
!**table ����*!
.tableDivOne{float: left; width: 38%; position: absolute;}
.tableDivTwo{float: left; width: 100%;    margin-bottom:3px;
  height: 100%;}
.entrustOne{float: left; color: #1a1a1a;width:39%; font-size: 17px;}
.entrustTwo{float: left; text-align: center;width: 58%;margin-top:-1px;}
.trustSpan{display: inline-block;    margin-top: 6px;
  height: 32.5px;float: left;
  line-height: 31.5px;
  font-size: 15px;
  color: #808086;
  width: 79%;
  border-radius: 3px;}
.trustSpanOne{    width: 20%;
  font-size: 12px;
  height: 25px;
  line-height: 23px;
  margin-top: 10px;
  color: #3366cc;
  border: solid 1px #3366cc;border-radius: 3px;    display: inline-block;}
.selectCon{border-radius: 10px;max-height: 270px;  overflow-y: auto;}
.priceStyle{text-align: center; width: 100%; font-size: 17px; height: 30px; line-height: 29.5px ; color: #3366cc;
  border: solid 1px #3366cc; border-radius: 3px; display: inline-block;}
.timeConOne{float: left; color: #1a1a1a; font-size: 17px;width:30%}
.timeConTwo{float: left; border-radius: 3px; width: 66%; text-align: right ; margin-top: -2px;position:relative}
!*.warCon{margin-bottom: 60px;  margin-top: -62px; }*!
.hide{
  display:none;
}
.warCon{margin-bottom: 60px; }
.noneData{  margin-top: 15px;
  color: #808086;
  text-align: center;}
.refreshContent{
  position: absolute;
  top: 84px;
  bottom: 48px;
  left: 0;
  width: 100%;
}
.detailOuter {
  width: 300%;
}
table {
  border-collapse: collapse;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  cursor: default;
}

tr {
  height: 40px;
  border-collapse: collapse;
}
th{
  color: #52668c;
  text-align: center;
  font-weight: 100;
}
td {
  text-align: center;
  border-top: none;
  border-bottom: none;
  color: #52668c;
}
.detailOuter {
  flex: 1;
  overflow: hidden;
}
.TheadWrap {
  height: 40px;
  min-height: 40px;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  box-sizing: border-box;
  background-clip: content-box;
  display: flex;
}
.detail{
  position: relative;
  left: -1px;
  width: 250%;
}
.detail>tbody>tr>td{
  width: 250%;
  border-bottom: 1px solid #e4e7f0;
  color: #1a1a1a;
  height: 50px;
  text-align: center;
}
.brief>tbody>tr>td{
  width: 100%;
  border-bottom: 1px solid #e4e7f0;
  color: #1a1a1a;
  height: 50px;
  text-align: center;
}
.TbodyInner{
  display: flex;
  position: relative;
  overflow: hidden;
}
.static{
  width:35%
}
.tdT{height: 39px !important;
  line-height: 39px !important;
  color: #52668c !important;}
.modalP{margin-top: -11px; margin-bottom: -39px;}
!*ʱ����ʽ*!
.time-picker{
  display:inline-block;
  position:relative;
  font-size:1em;
  width:10em;
  font-family:sans-serif;
  vertical-align:middle}
.time-picker *{box-sizing:border-box}
.time-picker input.display-time{
  border:1px solid #d2d2d2;
  width:10em;
  height:32.5px;
  padding:.3em .5em;
  font-size:1em;
  line-height: 32.5px;
  border-radius: 3px;
  color: #808086;}
.time-picker .clear-btn{position:absolute;
  display:inline-block;
  flex-flow:column nowrap;
  justify-content:center;
  align-items:center;top:0;right:0;bottom:0;margin-top:13px;z-index:3;font-size:1.1em;line-height:1em;
  vertical-align:middle;width:1.3em;color:#d2d2d2;background:rgba(255,255,255,0);text-align:center;font-style:normal;
  -webkit-transition:color .2s;transition:color .2s}
.time-picker .clear-btn:hover{color:#797979;cursor:pointer}
.time-picker .time-picker-overlay{z-index:2;position:fixed;top:0;left:0;right:0;bottom:0}
.time-picker .dropdown{position:absolute;z-index:5;top:calc(2.2em + 2px);left:0;background:#fff;box-shadow:0 1px 6px rgba(0,0,0,.15);width:10em;height:10em;font-weight:400}
.time-picker .dropdown .select-list{width:10em;height:10em;overflow:hidden;display:flex;flex-flow:row nowrap;align-items:stretch;justify-content:space-between}
.time-picker .dropdown ul{padding:0;margin:0;list-style:none;flex:1;overflow-x:hidden;overflow-y:auto}
.time-picker .dropdown ul.apms,.time-picker .dropdown ul.minutes,.time-picker .dropdown ul.seconds{border-left:1px solid #fff}
.time-picker .dropdown ul li{text-align:center;padding:.3em 0;color:#808086}
.time-picker .dropdown ul li:not(.hint):hover{background:rgba(0,0,0,.08);color:#808086;cursor:pointer}
.time-picker .dropdown ul li.active,.time-picker .dropdown ul li.active:hover{background:#3366cc !important;color:#fff}
.time-picker .dropdown .hint{color:#a5a5a5;cursor:default;font-size:.8em}
.modalP{margin-top: -11px; margin-bottom: -39px;}
.moreInfo{text-align: center;  font-size: 13px; color: #808086;  width: 93%; margin: 11px auto 61px auto}
.clickTrTd{background: #e6e6ec;}
input{ -webkit-appearance: none; }
.modal-body{text-align: center;}
.tipP{text-align: center; margin-top: 21px; margin-bottom: 3px;}
.bottom{margin-bottom: 71px;}
.touchConditionDiv a{text-decoration:none;color: #36c;}
.pingDayB{border: solid 1px #c0c6cd; height: 30px; display: inline-block; line-height: 29.5px;
  width: 30%;     border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; font-size: 15px;  color: #808086;text-align: center;background: #ddd}
.flexDiv{display: flex;width: 100%;}
.leftFlex{width: 50%;border-right: solid 1px #e4e7f0;}
.tableCheckCss{background: #eee;}

//alert start
.alert-modal{
  width:50%;
}
//.alert-modal{
//  padding:0;
//}
!*.alert-title,.alert-message{
  display:none;
}*!
.alert-footer{
  flex-wrap: wrap;
}
.alert-btn{
  flex:auto;
  width:100%;
  border-bottom:solid 1px #e4e7f0;
  color:#333;
}
.alert-btn:last-child{
  border-bottom: 0;
}
//时间

.dateBack {
  opacity: 0;
  color: transparent;
  background: transparent;
  border: none;
  box-shadow: none;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  z-index: 999;
  height:100%;
  width: 100%;
}

.dateFace {
  margin-right: 20px;
  width: 100%;
  height:100%;
  z-index: 1;
  position:relative;
}*/
