.pwd-container {
  .input-container {
    margin-top: toRem(20px);
    padding-left: toRem(30px);
    border-top: 1px solid #e4e7f0;
    border-bottom: 1px solid #e4e7f0;
    background-color: #ffffff;
    .input {
      position: relative;
      height: toRem(100px);
      border-bottom: 1px solid #e4e7f0;
      &:last-child {
        border-bottom: none;
      }
      input {
        display: block;
        outline: none;
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 0;
        @include font(16px);
        color: #1a1a1a;
        -webkit-appearance: none;

        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-moz-placeholder,
        &:-ms-input-placeholder {
          color: #808086;
        }
      }
      img {
        position: absolute;
        top: toRem(35px);
        right: toRem(30px);
        height: 14px;
      }
    }
  }
  .button-submit {
    margin: 0 auto;
    margin-top: toRem(120px);
    height: toRem(86px);
    width: toRem(690px);

    .button-submit-bg {
      height: 100%;
      width: 100%;
      line-height: toRem(86px);
      background-image: url(../images/reactbuttonclick@2x.png);
      background-repeat: no-repeat;
      background-size: toRem(690px) toRem(86px);
      color: #ffffff;
      @include font(18px);
      text-align: center;
    }
  }
}
