.cellectionFooter {
  width:100%;
  position:fixed;
  bottom:0;
  height:4.5rem;
  line-height:4.5rem;
  background: $color-bg-grounding;
  border-top:1px solid $color-cutline-upline;
  span {
    width:49%;
    font-size: $font-size-14;
    display:inline-block;
    text-align: center;
  }
  .red {
    color:$color-bg-up;
  }
}
