  .password {
    .navbar {
      .navbar-footer {
        font-size: $font-size-9;
      }
    }
    .group,.cell {
      background-image: -webkit-gradient(linear,left top,left bottom,from($color-cutline-1px-cutoff),color-stop(50%,$color-cutline-1px-cutoff),color-stop(0,transparent)),-webkit-gradient(linear,left bottom,left top,from($color-cutline-1px-cutoff),color-stop(50%,$color-cutline-1px-cutoff),color-stop(0,transparent));
        background-image: -webkit-linear-gradient(top,$color-cutline-1px-cutoff,$color-cutline-1px-cutoff 50%,transparent 0),-webkit-linear-gradient(bottom,$color-cutline-1px-cutoff,$color-cutline-1px-cutoff 50%,transparent 0);
        background-image: -o-linear-gradient(top,$color-cutline-1px-cutoff,$color-cutline-1px-cutoff 50%,transparent 0),-o-linear-gradient(bottom,$color-cutline-1px-cutoff,$color-cutline-1px-cutoff 50%,transparent 0);
        background-image: linear-gradient(to bottom,$color-cutline-1px-cutoff,$color-cutline-1px-cutoff 50%,transparent 0),linear-gradient(to top,$color-cutline-1px-cutoff,$color-cutline-1px-cutoff 50%,transparent 0);
    }
    .group {
        margin-top: 10px;
    }
    .cell {
        padding-top: 0;
        padding-bottom: 0;
        height: 40px;
        line-height: 40px;
        font-size: $font-size-9;
    }
    .flex-item {
        position: relative;
        input {
          display: block;
          border: none;
          width: 100%;
          height: 100%;
          height: 38px;
          font-size: $font-size-9;
          &:focus {
            outline: 0;
        }
      }
      img {
        position: absolute;
        top: 11px;
        right: 12px;
        height: 16px;
      }
      &.disable {
        color: $color-icon-state;
        input {
          color: $color-icon-state;
        }
      }
    }
  }