  .qii {
    height: 100%;
    .body {
      padding: 30px 38px;
        height: 100%;
        background-color: $color-bg-nav-text;
        h3 {
          margin-bottom: 23px;
          font-size: $font-size-7;
          font-weight: normal;
          line-height: 15px;
          color: $color-text-report-up-number;
          text-align: center;
        }
        p {
          margin-bottom: 0;
          font-size: $font-size-5;
          color: $color-text-text;
          text-align: left;
          text-indent: 2em;
        }
    }
    .footer {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      border-top: 1px solid $color-cutline-1px-cutoff;
      padding: 5px 15px;
      height: 49px;
      background-color: $color-bg-grounding;
      .btn-thirdly {
        border: none;
        border-radius: 5px;
        padding: 0;
        height: 38px;
        font-size: $font-size-7;
        line-height:38px;
        color: $color-text-nav-text;
        background-color: $color-bg-up;
      }
    } 
  }