.pobo-rehab-funds {
  @extend %common-wrapper;

  .yield-curve-header {
    ._pobo-select-group {
      padding: 0 toRem(30px);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: toRem(86px);
      background-color: #ffffff;
      box-shadow: 0 0 toRem(20px) #e2e0e0;
      .time-select-timeline {
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 1;
        @include font(13px);
        color: $color17;
        background-color: #ffffff;
        .curve-time-line {
          margin-left: toRem(20px);
        }
      }
      .left-select-time {
        flex: 1;
        display: flex;
        height: toRem(86px);
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        line-height: 1;
        @include font($font26);
        color: $color18;
        img {
          margin-left: toRem(14px);
          height: toRem(13px);
          width: toRem(21px);
        }
      }
    }
  }

  .yield-curve-center {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    //-webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    background-color: #f7f7fa;
    margin-top: toRem(20px);

    .yield-curve-view {
      background-color: #ffffff;
      padding: 0 toRem(30px);
      .yield-curve-chart {
        height: toRem(500px);
        z-index: 999;
        padding-bottom: toRem(30px);
      }
    }
    .pobo-no-data1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: toRem(30px);
      align-items: center;
      height: toRem(400px);
      border: 1px solid $color23;
      img {
        margin: 0 0 toRem(56px) 0;
        width: toRem(255px);
        height: toRem(248px);
      }
      .no-data1-msg {
        font-size: toRem(26px);
        color: #1a1a1a;
        opacity: 0.9;
      }
    }

    .yield-curve-pointer {
      padding: 0 toRem(30px) toRem(30px);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      .zhanwei-pointer {
        height: toRem(60px);
        width: toRem(80px);
        opacity: 0;
      }
      .curve-pointer-item {
        box-sizing: content-box;
        height: toRem(60px);
        width: toRem(200px);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: toRem(8px);
        background-color: $color22;
        .pointer-item-cicle {
          height: toRem(12px);
          width: toRem(12px);
          border-radius: 50%;
        }
        .pointer-item-color1 {
          background-color: #fe8b6c;
        }
        .pointer-item-color2 {
          background-color: #41c5ee;
        }
        .pointer-item-color3 {
          background-color: #fbc647;
        }
        .pointer-item-color4 {
          background-color: #8dddff;
        }
        .pointer-item-text {
          margin-left: toRem(14px);
          color: #1a1a1a;
          @include font($font11);
          opacity: 0.85;
        }
      }
    }

    .yield-curve-explain {
      margin-top: toRem(36px);
      padding: 0 toRem(30px) toRem(60px);
      .curve-explain-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .explain-item-img {
          margin-top: toRem(4px);
          height: toRem(22px);
          width: toRem(16px);
        }
        .explain-item-text {
          color: #808086;
          @include font($font13);
          line-height: toRem(34px);
          margin-left: toRem(14px);
        }
      }
    }
    .curve-explain-margin {
      margin-top: toRem(26px);
    }
  }
}
