@mixin font($font-size) {
  font-size: $font-size;

  [data-dpr = '2'] & {
    font-size: $font-size * 2;
  }

  [data-dpr = '3'] & {
    font-size: $font-size * 3;
  }
}

@function toRem($px) {
  @return $px / 75px * 1rem;
}

.main-active {
  margin-top: 10px;
  height: 142px;
  width: 100%;
  position: relative;
  //border-top: 1px solid #e4e7f0;
  //border-bottom: 1px solid #e4e7f0;
  background-color: #ffffff;

  @include px1-pixel-ratio;
  //@media screen and (-webkit-min-device-pixel-ratio: 2) {
  //  &:before {
  //    content: "";
  //    pointer-events: none; /* 防止点击触发 */
  //    box-sizing: border-box;
  //    position: absolute;
  //    width: 200%;
  //    height: 200%;
  //    left: 0;
  //    top: 0;
  //    border-top: 1px solid #e4e7f0;
  //    border-bottom: 1px solid #e4e7f0;
  //    transform: scale(0.5);
  //    transform-origin: 0 0;
  //  }
  //}

  .main-active-content {
    height: 142px;
    line-height: normal;
    width: 100%;
    padding: 0 0 11px 15px;

    //.main-active-header {
    //  height: 44px;
    //  line-height: normal;
    //  position: relative;
    //
    //  .active-header-left {
    //    position: absolute;
    //    left: 0;
    //    top: 0;
    //    line-height: normal;
    //    display: flex;
    //    justify-content: center;
    //    align-items: center;
    //    height: 100%;
    //    padding-left: toRem(22px);
    //    color: #1a1a1a;
    //    background-image: url(../images/biaoqian@2x.png);
    //    background-repeat: no-repeat;
    //    background-size: toRem(6px) toRem(31px);
    //    background-position: left center;
    //    font-size: 16px;
    //  }
    //
    //  .active-header-right {
    //    position: absolute;
    //    right: 0;
    //    top: 0;
    //    height: 100%;
    //    line-height: normal;
    //    display: flex;
    //    justify-content: center;
    //    align-items: center;
    //    margin-right: 15px;
    //    padding-right: 13px;
    //    color: #808086;
    //    background-image: url(../images/moredefaultactive@2x.png);
    //    background-repeat: no-repeat;
    //    background-size: toRem(12px) toRem(23px);
    //    background-position: right center;
    //    font-size: 13px;
    //    font-weight: normal;
    //  }
    //}

    .active-swpier-content {
      height: 88px;
      width: 100%;

      .swiper-container {
        width: 100%;
        position: relative;
        overflow: hidden;
        z-index: 1;

        .swiper-wrapper {
          position: relative;
          width: 100%;
          height: 100%;
          z-index: 1;
          transition-timing-function: ease-out;
          display: flex;
          transition-property: transform;
          box-sizing: content-box;

          .swiper-slide {
            width: 140px;
            margin-right: 8px;
            height: 100%;
            position: relative;
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;

            .activity-swpier-content {
              width: 100%;
              height: 87px;
              position: relative;
              z-index: 1004;

              .activity-bg {
                width: 100%;
                height: 100%;
                //z-index: 1005;
                ////background-image: url(../images/activepeitu1.png);
                //background-repeat: no-repeat;
                //background-position: 0 0;
                //background-size: 151px 87px;
              }
              .bg-blur {
                -webkit-filter: blur(2px); /* Chrome, Opera */
                -moz-filter: blur(2px);
                -ms-filter: blur(2px);
                filter: blur(2px);
                filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=1.5, MakeShadow=false); /* IE6~IE9 */
              }
              .cover-layer {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #1a1a1a;
                filter: alpha(opacity=45);
                -moz-opacity: 0.45;
                -khtml-opacity: 0.45;
                opacity: 0.45;
                z-index: 1006;
              }
              .center-tips {
                position: absolute;
                z-index: 1010;
                top: 50%;
                left: 50%;
                width: 115px;
                transform: translate(-50%, -50%);

                .fitst-title-tips {
                  width: 100%;
                  line-height: normal;
                  font-size: 16px;
                  color: #ffffff;
                  text-align: left;
                  //text-overflow: ellipsis;
                  //white-space: nowrap;
                  //overflow: hidden;
                }

                .two-line {
                  width: 100%;
                  line-height: normal;
                  font-size: 14px;
                  color: #ffffff;
                  text-align: justify;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  overflow: hidden;
                }

                .second-level-tips {
                  margin-top: 4px;
                  line-height: normal;
                  width: 100%;
                  font-size: 14px;
                  color: #ffffff;
                  text-align: left;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                }

              }
            }
            img {
              width: 100%;
              height: 87px;
            }
          }
        }

      }

    }
  }
}
