@mixin font($font-size) {
  font-size: $font-size;

  [data-dpr = '2'] & {
    font-size: $font-size * 2;
  }

  [data-dpr = '3'] & {
    font-size: $font-size * 3;
  }
}

@function toRem($px) {
  @return $px / 75px * 1rem;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
  *height: 1%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.colorw {
  color: #fff;
  font-size: 14px;
}
input{
  outline:none;
}

@import "./alertSet";
@import "./tab";
@import "./alertLoding";
@import "./_myAlert";
@import "./alert-modal";

/*html,body{
  height:100%;!*关键代码*!
}
.bordercolor{
  border-bottom: 2px solid #3366cc;
}

.conditionDiv a {
  color: #808086;
  display:inline-block;
  width:100%;
}

!*公共 start*!
.font15{
  font-size: 15px;
}
.font16{
  font-size: 16px;
}
table{
  table-layout:fixed;
  border-collapse:collapse;
}
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0
}





.fontcol1423 {
  color: #14a238;
}

.mr15 {
  margin-right: 12px;
}

.h45 {
  height: 45px;
  line-height: 45px;
}

.h60 {
  height: 60px;
  line-height: 60px;
}

.color52 {
  color: #52668c;
}

.width15 {
  width: 100%;
  z-index: 1;
  !*background: #fff;*!
  padding-left: 10px;
  line-height: 59px;
  !*position: relative;*!
}

.font18 {
  font-size: 18px;
}


span{
  display: inline-block;
}
!*公共end*!
!*nav title css start*!
.navInfo {
  width: 100%;
  height: 44px;
  background: #3366cc;
  line-height: 44px;
  min-height: 44px
}

.titleBack {
  text-align: center;
  float: left;
  width: 9%;
}

.nav-title {
  text-align: center;
  float: left;
  width: 75%;
  color: #ffffff;
  font-size: 18px;
  line-height: 44px;
}



!*nav title css end*!

!*正在加载 start*!
#loading{
  position: fixed;
  top: 3.7rem;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 99999;
}
#loading>div{
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  background: url(../../../assets/images/loading.gif) no-repeat;
}

!*正在加载 end*!



.setDivOne>span{
  width:97%;
}
input:disabled{
  background:rgb(235, 235, 228);
}







#setinput {
  float: right;
  width: 58.4%;
}

#setinput input {
  width: 100%;
}

.btnDiv {
  text-align: center;
  margin-top: 46px;
}



.navbar-fixed-bottom {
  bottom: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  font-size: 10px;
  color: #808086;
  background: #fffef2;
  min-height: 44px;
}
.navbar-fixed-bottom>div{
  width:18rem;
  margin:0 auto;
  padding:10px 0 10px 0;
  line-height: 17px;
}
!*content end*!
!*我的预警start*!
#TableList,.TbodyInner{
  background: #fff;
}
.TheadWrap {
  width: 100%;
  overflow: hidden;
  z-index: 2;
  box-sizing: border-box;
  background-clip: content-box;
  display: flex;
}
.detail{
  position: relative;
  left: -1px;
}
.detailOuter {
  flex: 1;
  overflow: hidden;
  width:400%;
}
.static{
  width:37.4%;
}
.staticBody{
  width:330%;
}
.TheadWrap .static>tbody>tr,.TheadWrap .staticBody>tbody>tr{
  height:40px;
}
.staticBody>tbody>tr>td{
  width:95%;
}
.staticBody>tbody>tr,.static>tbody>tr{
  text-align: center;
  height:50px;
  border-bottom: 1px solid #e4e7f0;
  padding:0;
}
.TbodyInner{
  display: flex;
  position: relative;
  overflow: hidden;
}

//alert start
.alert-modal{
  width:50%;
}
.alert-modal{
  padding:0;
}
.alert-title,.alert-message{
  display:none;
}
.alert-footer{
  flex-wrap: wrap;
}
.alert-btn{
  flex:auto;
  width:100%;
  border-bottom:solid 1px #e4e7f0;
  color:#333;
}
.alert-btn:last-child{
  border-bottom: 0;
}



.greenTd{color: #12a438 !important;}
.blueTd{color:#3366cc !important;}
.redTd{color:#fe0000 !important;}*/

//====================================
