$fontSize10: 15px;
$fontSize11: 12px;
$fontSize13: 11px;
$fontSize14: 10px;
$fontSize19: 9px;
$fontSize20: 8px;
$fontSize23: 13px;
$fontSize24: 17px;
$fontSize25: 18px;
$fontSize26: 14px;
$fontSize28: 21px;
$fontSize29: 19px;
$fontSize30: 40px;
$fontSize32: 18px;
$fontSize33: 16px;
$fontSize34: 19px;
$fontSize35: 20px;
$fontSize36: 25px;
$fontSize37: 22px;
$fontSize54: 27px;
$fontSize60: 30px;
$fontSize82: 41px;

$color1: #3366cc;  // 界面主要配色，细微需要强调的文字、按钮或者选中状态
$color2: #fe0000;  // 涨幅数字、涨幅区域或者按钮
$color3: #14a238;  // 跌幅数字、跌幅区域或者按钮
$color4: #1dbf60;  // 详情页跌幅界面配色、分时柱状图跌幅、数字跌幅以及按钮颜色
$color5: #f75f5f;  // 详情页涨幅界面配色、分时柱状图涨幅、数字涨幅以及按钮颜色
$color15: #ffffff;  // 导航栏标题、按钮点击及选中状态文字
$color16: #b6bbc2;  // 详情页跌幅界面配色、分时柱状图跌幅、数字跌幅以及按钮颜色
$color17: #808086;  // 辅助陪衬、提示性文字
$color18: #1a1a1a;  // 正文、标题性文字
$color22: #f7f7fa;  // 底色
$color23: #e4e7f0;  // 列表1px分割线
$color26: #e6e6ec;  // 交易下单界面工具栏选中背景
$color28: #dfdfdf;  // 按钮禁用状态
$color29: #5c90f9;  // 蓝色按钮点击状态
$color45: #f0f1f2;  // 期货侧边栏
$color46: #4c4c55;  // 新闻字体用色
$color47: #c0c6cd;  // table栏-上线
$color48: #f7f8f9;  // table栏背景色
$color49: #ecf8fd;  // 背景底色
$color50: #2868e8;  // 蓝线
$color51: #add79a;  // 绿线
$color52: #fb8463;  // 橘线
$color53: #f3faf5;  // T型报价--绿色背景
$color54: #fff2f2;  // T型报价--绿色背景
$color55: #52668c;  //
