body{
	background-color: #f7f7fa;
}

.cmTrends{
	.common-nav{
		/* height: toRem(88px);
		line-height: toRem(88px);  */
		.picker-area{
		    position: relative;
		    padding-right: toRem(30px);
		    .calendar-icon{
		      position:absolute;
		      top:toRem(26px);
		      right:toRem(30px); 
		      width:toRem(36px);
		      height:toRem(36px);
		      z-index: -1;
		    }
		    .date-picker{
		      position: absolute;
		      right: toRem(20px);
		      top: 0;
		      width: toRem(60px);
		      height: toRem(88px);
		      z-index: 10;
		      background-color: transparent;
		      opacity: 0;
		      color: transparent;
		      border: 0;
		      outline: none;
		    }
		}
	}
	.container{
		margin-top: 0;
		.group-title{
			position: relative;
			padding: 0 toRem(30px);
			
			strong{
				padding-left: toRem(20px);
				font-size: toRem(26px);
				font-weight: normal;
				color: #808086;
			}
			i{
				position: absolute;
				left: toRem(30px);
				top: 50%;
				display: inline-block;
				width: toRem(12px);
				height: toRem(12px);
				background-color: #3366CC;
				border-radius: 50%;
				transform: translate(0,-50%);
			}
		}
		.group-title.setHeight{
			height: toRem(40px);
			line-height: toRem(40px);
		}
		.group{
			padding: 0 0 0 toRem(30px);
		    background-image: none;
			.cell{
				position: relative;
				padding: toRem(20px) toRem(30px) toRem(20px) 0;
				height: toRem(130px);
				@include bottom-px1-pixel-ratio;
			    background-image: none;
				.cell-body{
					color: #808086;
					font-size: toRem(26px);
					h3{
						margin-bottom: toRem(10px); 
						font-size: toRem(32px);
						color: #1a1a1a;
						font-weight: normal;
						span{
							float: right;
							font-size: toRem(26px);
							color: #808086;
						    font-weight: normal;
						}
					}
				}
			}
			.cell:last-child:before{
				border-bottom: 0;
			}
		}
	}
}