.pound-age-content {
  .sx-f-view {
    background-color: #ffffff;
    padding: toRem(40px) toRem(30px);
    .sx-f-header {
      line-height: 1;
      color: $color18;
      @include font($font26);
    }
    .sx-f-charts {
      margin-top: toRem(14px);
      height: toRem(500px);
      z-index: 999;
    }
  }
  .lc-sxf-view {
    margin-top: toRem(20px);
    background-color: #ffffff;
    padding: toRem(40px) toRem(30px);
    .lc-sxf-header {
      line-height: 1;
      color: $color18;
      @include font($font26);
    }
    .lc-sxf-charts {
      margin-top: toRem(14px);
      height: toRem(500px);
      z-index: 999;
    }
  }
}
