body{
	background-color: #f7f7fa;
}

textarea::-webkit-input-placeholder{
　　color:#c0c6cd;
}

.cmTrends.addAndEdit{
	.addFollow{
		padding-right: toRem(30px);
		font-size: toRem(30px);
		color: #fff;
	}
	.container{
		overflow: hidden;
		.group{
			margin-top: toRem(20px);
			padding-left: 0;
			.cell{
			    position: relative;
				padding: toRem(22px) toRem(30px);
				background-image: none;
			    border-bottom: solid 1px #e4e7f0;
				span{
					font-size: toRem(32px);
					color: #1a1a1a;
				}
				.cell-body{
					.textarea{
						padding: toRem(34px) toRem(30px);
						textarea{
							padding: 0;
							font-size: toRem(32px);
							color: #1a1a1a;
						}
						.upload-img{
							padding: toRem(26px) 0 toRem(34px) 0;
							.showImgArea{
								display: inline-block;
								position: relative;
								input[type='file']{
									width: toRem(86px);
									height: toRem(86px);
									position: absolute;
									left: 0;
									top: 0;
									opacity: 0;
								}
								img{
									margin-right: toRem(10px);
									width: toRem(86px);
									height: toRem(86px);
								}
								.removeImg{
								    position: absolute;
								    left: toRem(-14px);
								    top: toRem(-14px);
								    z-index: 2;
									display: inline-block;
									width: toRem(36px);
									height: toRem(36px);
									background-image:url(../followUpRecord/images/img04.png);
							        background-size: 99% 100%;
							        background-repeat: no-repeat;
							        background-position: center;
								}
							}

						}
					}

				}
				.cell-footer{
					img{
						width:toRem(14px);
						height:toRem(26px);
					}
				}
				.qType{
				    position: absolute;
				    right: 0;
				    top: 0;
				    opacity: 0;
				    width: 100%;
				    height: toRem(72px);
				}
			}
			.cell:last-child{
				border-bottom: 0;
			}
		}
		.result{
			margin-top: toRem(20px);
			padding: toRem(30px);
			width: 100%;
			height: toRem(250px);
    		background-color: #fff;
    		font-size: toRem(32px);
			color:#c0c6cd;
			border:0;
			outline:none;
		}
		.lastEditDate{
			margin-top: toRem(20px);
			font-size: toRem(26px);
			color: #808086;
		}
	}
	/* .picker{
		.picker-list{
			.picker-list-item{
				height: toRem(44px);
				line-height: toRem(44px);
				font-size: toRem(32px);
			}
			.picker-list-item.active{
				color: #1a1a1a;
			}
		}
	} */
}
