.approProcess{
	.font1{
		font-size: toRem(28px);
		color: #1a1a1a;
	}
	.font2{
		font-size: toRem(26px);
		color: #808086;
	}
	.padding1{
		padding: toRem(40px) toRem(30px);
	}
	.common-nav{
		height: toRem(88px);
		line-height: toRem(88px); 
	}
	.container{
		margin-top: 0;
		.group{
			background-image: none;
			.cell{
				background-image: none;
			}
		}
		.group.cusInfo{
			position: relative; 
			margin-top: 0;
		    padding: 0;

		    @include bottom-px1-pixel-ratio;
		    .cell{
		    	padding: toRem(46px) toRem(30px);
		    	.cell-body{
		    		.media{
		    			.media-object{
		    				position: relative;
		    				margin-right: toRem(30px);
		    				padding-right: 0;
		    				width: toRem(134px);
	    					height: toRem(134px);
	    					background-color: rgba(255,255,255,0.2);
		    				border-radius: 50%;
		    				img{
		    					position: absolute;
							    left: 50%;
							    top: 50%;
							    z-index: 1;
							    width: toRem(114px);
		    					height: toRem(114px);
							    transform: translate(-50%,-50%);
							    -webkit-transform: translate(-50%,-50%);
		    				}
		    			}
		    			.media-body{
		    				h3{
		    					margin-bottom: toRem(14px);
		    					font-size: toRem(32px);
		    					color: #1a1a1a;
		    				}
		    				p{
		    					margin-bottom: 0;
		    					color: #808086;
		    					font-size: toRem(26px);
		    				}
		    				p.acc{
		    					margin-bottom: toRem(4px);
		    				}
		    			}
		    		}
		    	}
		    }
		}
		.applyInfo{
			padding-top: toRem(40px);
			background-color: #fff;
			.applyIitle{
				margin-bottom: toRem(34px);
				padding: 0 toRem(30px);
				@extend .font1;
			}
			.group{
				margin-top: 0;
				.cell{
					margin-bottom: toRem(34px);
					padding: 0 toRem(30px);
					@extend .font2;
					.mark{
						line-height: toRem(46px);
					}
				}
				.cell.accMana{
					position: relative;
					margin-bottom: 0;
					padding: toRem(40px) toRem(30px);
					@extend .font1;
					@include px1-pixel-ratio;
					.cell-footer{
						@extend .font2;
					}
				}
			}
		}

		.enclosure{
			margin-top: toRem(20px);
			margin-bottom: toRem(100px);
			padding-left: toRem(30px);
			background-color: #fff;
			.enclosureIitle{
				position: relative;
				margin-bottom: 0;
				height: toRem(76px);
				line-height: toRem(76px);
				@extend .font1;
				@include bottom-px1-pixel-ratio;
			}
			.group{
				margin: 0;
				padding: 0;
				.cell{
					position: relative;
					padding: 0 toRem(60px) 0 0;
					height: toRem(86px);
					line-height: toRem(86px);
					@include bottom-px1-pixel-ratio;
					font-size: toRem(30px);
					color: #1a1a1a;
					.toDetail{
						position: absolute;
						right: toRem(30px);
						top: 50%;
						z-index: 2;
						width: toRem(16px);
						height: toRem(30px);
						transform: translate(0,-50%);
						-webkit-transform: translate(0,-50%);
						/* img{
							width: 100%;
							height: 100%;
						    vertical-align: top;
						} */
					}
					.cell-body{
						img{
							margin-right: toRem(14px);
							width: toRem(36px);
							height: toRem(42px);
						}
					}
					.cell-footer{
						padding-left: 0.5rem;
						@extend .font2;
					}
				}
				.cell:last-child{
					border:0;
				}
			}
		}

	}

	.approSubmit{
			/* overflow: hidden;
		    position: fixed;
		    bottom: 0;
		    left: 0;
		    z-index: 11;
		    width: 100%; */
			button{
				float: left;
				padding: 0;
			    width: 50%;
			    height: toRem(98px);
			    line-height: toRem(98px);
			    border: 0;
			    border-radius: 0;
			    font-size: toRem(36px);
			    color: #fff;
			}
			.reject{
				background-color: #f75f5f;
			}
			.aggree{
				background-color: #1dbf60;
			}
		}

}