@import '../cmHelperIndex/cmTrends.scss';

.cmTrends.approTask{
	.container{
		.tabbar{
		    height: toRem(100px);
		    border:0;
			border-bottom:solid toRem(1px) #e4e7f0;
			font-size: toRem(32px);
			.tabbar-item{
				height: toRem(100px);
				line-height: toRem(100px);
			}
		}
		.group{
			background-image: none;
			margin-top: 0;
			.cell{
			    position: relative;
				padding-top: toRem(28px);
				padding-bottom: toRem(28px);
				background-image: none;
				.cell-body{
					h3{
						font-size: toRem(30px);
					}
					h3:last-child{
						margin-bottom: 0;
						font-size: toRem(26px);
						color: #808086;
					}
				}
				.date{
					position: absolute;
				    right: toRem(30px);
				    top: 50%;
				    z-index: 1;
				    transform: translate(0,-50%);
				    -webkit-transform: translate(0,-50%);
    				p{
    					margin-bottom: 0;
    					font-size: toRem(26px);
						color: #808086;
    				}
				}
			}
		}
		
	}
}