@import '../../../../adequacy/style/_selectDept.scss';

body{
	//-webkit-overflow-scrolling: touch;
	overflow: auto;
}

input, textarea {
    -webkit-user-select: auto!important;
    user-select: auto!important;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"]{
	-webkit-appearance: none;
}


.customerInfo{
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
	.common-nav{
	    line-height: unset;
	    .navbar-header{
	    	line-height: 44px;
	    }
		.navbar-body{
			.page-title{
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    z-index: 1;
			    transform: translate(-50%,-50%);
			    -webkit-transform: translate(-50%,-50%);
			}
			.segmentedCtrl{
			    display: flex;
				//width: toRem(370px);
				height: toRem(58px);
				line-height: toRem(58px);
			    position: absolute;
			    left: 50%;
			    top: 50%;
			    transform: translate(-50%,-50%);
			    -webkit-transform: translate(-50%,-50%);
				div{
					display: inline-block;
					font-size: toRem(32px);
					width: toRem(185px);
					border: solid 1px #fff;
					background-color: #36c;
				}
				div:first-child{
					border-right: 0;
					border-bottom-left-radius: toRem(6px);
					border-top-left-radius: toRem(6px);
				}
				div:last-child{
					border-left: 0;
					border-bottom-right-radius: toRem(6px);
					border-top-right-radius: toRem(6px);
				}
				div.active{
					background-color: #fff;
					color: #36c;
				}
			}
		}
		.navbar-footer{
			position: relative;
			.addInvestor{
				padding: 0;
				font-size: toRem(30px);
			    position: absolute;
			    top: 50%;
			    right: 15px;
			    z-index: 1;
			    transform: translate(0,-50%);
			    -webkit-transform: translate(0,-50%);
			    a{
			    	padding: 0;
			    	color: #fff;
			    }
			}
		}

	}

	.selectDept{
		padding-top: 0;
		.mint-indexlist{
			//height: 100%;
			.mint-indexlist-content{
				margin-bottom: 0;
				margin-right: 0!important;
				//height: 100%!important;
				background-color: #fff;
				.mint-indexsection-index{
					font-size: toRem(28px);
					color: #808086;
				}
				.mint-cell{
					padding-left: 0;
					margin:0 15px;
					height: toRem(130px);
					@include bottom-px1-pixel-ratio;
					.mobileIcon{
						position: absolute;
						right: toRem(46px);
						top: 50%;
						z-index: 10;
						width: toRem(38px);
						height: toRem(38px);
						transform: translate(0,-50%);
						-webkit-transform: translate(0,-50%);
						background-image: url(../cmHelper/images/followUpRecord/img18.png);
						background-repeat: no-repeat;
						background-position: center;
					    background-size: contain;
					}
					.mobileIcon:hover{
						background-image: url(../cmHelper/images/followUpRecord/img19.png);
					}
					.mint-list{
						margin-right: toRem(160px);

						.cusName{
							margin: toRem(22px) 0 toRem(8px) 0;
							font-size: toRem(32px);
							color: #1a1a1a;
							span{
								font-size: toRem(26px);
								color: #808086;
							}
						}
						.cusLevel{
							img.type1{
								position: relative;
								top: toRem(4px);
								float: left;
								margin-right: toRem(4px);
								width: toRem(24px);
								height: toRem(24px);
							}
							img.type2{
								position: relative;
								top: toRem(-2px);
								width: toRem(37px);
								margin: 0 toRem(6px);
							}
							img.type3{
								width: toRem(108px);
								height: toRem(26px);
								margin: 0;
							}
						}

					}
				}
				.mint-cell.autoHei{
					height: auto;
				}
				.mint-cell:last-child:before{
					border-bottom: 0;
				}
			}
			.mint-indexlist-nav{
				// position: fixed;
				background-color: transparent;
				.mint-indexlist-navitem{
					font-size: toRem(22px);
				    color: #c0c6cd;
				    font-weight: bolder;
				}
			}
		}


	}
	.searchbar{
		height: toRem(88px);
		background-color: #e6e6ec;
		.searchbar-input{
		    position: relative;
			margin: 0 toRem(30px);
			padding: 0;
			background-color: #fff;
			height: toRem(58px);
		    line-height: toRem(58px);
		    font-size: toRem(28px);
			color: #808086;
		    border-radius: toRem(8px);
		    .searchbar-input-placeholder{
		    	position: absolute;
			    left: 0;
			    top: 50%;
			    z-index: 1;
			    width: 100%;
			    height: toRem(40px);
		    	line-height: toRem(40px);
	    	    opacity: 1;
	    	    transform: translate(0,-50%);
			    -webkit-transform: translate(0,-50%);
			    // span{
			    // 	-webkit-transition: all .3s ease;
			    // 	transition: all .3s ease;
			    // }
		    	i{
		    		position: relative;
		    		top: toRem(-2px);
		    	    display: inline-block;
		    	    margin-left: toRem(20px);
		    	    margin-right: toRem(14px);
		    	    width: toRem(26px);
		    	    height: toRem(26px);
		    	    background: url(../cmHelper/images/followUpRecord/img09.png) no-repeat center;
		    	    background-size: contain;
			    }
		    }
		    input{
	    	    width: 100%;
			    position: absolute;
			    left: 0;
			    top: 50%;
			    z-index: 3;
		    	padding: 0 0 0 50%;
		    	height: toRem(40px);
		    	line-height: toRem(40px);
		    	opacity: 0;
		    	font-size: toRem(28px);
				color: #1a1a1a;
				transform: translate(0,-50%);
			    -webkit-transform: translate(0,-50%);
			    -webkit-transition: all .3s ease;
			    transition: all .3s ease;
		    }
		    input::-webkit-input-placeholder {
                color:#808086;
            }
		}
		.searchbar-input.inputFocus{
			.searchbar-input-placeholder{
				width: 0.5rem;
			}
		}
	}
	.searchbar.active{
		.searchbar-input-placeholder{
			width: 0.8rem;
			span{
				display: none;
			}
		}
		input{
		    padding: 0 0 0 toRem(60px);
			opacity: 1;
		}
	}

	.haveOpen{
		position: relative;
	    margin: 0;
		width: 100%;
		height: toRem(100px);
		line-height: toRem(100px);
	    background-color: #fff;
		font-size: toRem(32px);
		color: #808086;
	    @include top-px1-pixel-ratio;
	}

	.no-potential-group {
		    background-color: #ffffff;
		    .no-potential-tel {
		      height: toRem(115px);
		      position: relative;
		      box-sizing: border-box;
		      display: flex;
		      flex-direction: row;
		      justify-content: center;
		      align-items: center;
		      color: #1a1a1a;
		      @include font(18px);
		      &:nth-last-child(2) {
		        @include bottom-px1-pixel-ratio;
		      }
		    }
		    .no-potential-cancel {
		      height: toRem(87px);
		      display: flex;
		      flex-direction: row;
		      justify-content: center;
		      align-items: center;
		      color: #3366cc;
		      @include font(18px);
		    }
		  }

}
