@import '../../../../adequacy/style/_selectDept.scss';

body{
	-webkit-overflow-scrolling: touch;	
	overflow: auto;	
}

input[type="button"], 
input[type="submit"], 
input[type="reset"],
input[type="text"]{
	-webkit-appearance: none;
}


.customerInfo{
	.common-nav{
	    line-height: unset;
	    .navbar-header{
	    	line-height: 44px;
	    }
		.navbar-body{
			.page-title{
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    z-index: 1;
			    transform: translate(-50%,-50%);
			    -webkit-transform: translate(-50%,-50%);
			}
			.segmentedCtrl{
			    display: flex;
				//width: toRem(370px);
				height: toRem(58px);
				line-height: toRem(58px);
			    position: absolute;
			    left: 50%; 
			    top: 50%;
			    transform: translate(-50%,-50%);
			    -webkit-transform: translate(-50%,-50%);
				div{
					display: inline-block;
					font-size: toRem(32px);
					width: toRem(185px);
					border: solid 1px #fff;
					background-color: #36c;
				}
				div:first-child{
					border-right: 0;
					border-bottom-left-radius: toRem(6px);
					border-top-left-radius: toRem(6px);
				}
				div:last-child{
					border-left: 0;	
					border-bottom-right-radius: toRem(6px);
					border-top-right-radius: toRem(6px);
				}
				div.active{
					background-color: #fff;
					color: #36c;
				}
			}
		}
		.navbar-footer{
			position: relative;
			.addInvestor{
				padding: 0;
				font-size: toRem(30px);
			    position: absolute;
			    top: 50%;
			    right: 15px;
			    z-index: 1;
			    transform: translate(0,-50%);
			    -webkit-transform: translate(0,-50%);
			    a{
			    	padding: 0;
			    	color: #fff;
			    }
			}	
		}
		
	}
	
	.selectDept{
		padding-top: 0;
		.mint-indexlist{
			height: 100%;
			.mint-indexlist-content{
				margin-bottom: 0;
				margin-right: 0!important;
				height: 100%!important;
				background-color: #fff;
				.mint-cell{
					padding-left: 0;
					margin:0 15px;
					height: toRem(130px);
					@include bottom-px1-pixel-ratio;
					.mobileIcon{
						position: absolute;
						right: toRem(46px);
						top: 50%;
						z-index: 10;
						width: toRem(38px);
						height: toRem(38px);
						transform: translate(0,-50%);
						-webkit-transform: translate(0,-50%);
						background-image: url(../cmHelper/images/followUpRecord/img18.png);
						background-repeat: no-repeat;
						background-position: center;
					    background-size: contain;
					}
					.mobileIcon:hover{
						background-image: url(../cmHelper/images/followUpRecord/img19.png);
					}
					.mint-list{
						margin-right: toRem(160px);
						
						.cusName{
							margin: toRem(22px) 0 toRem(8px) 0;
							font-size: toRem(32px);
							color: #1a1a1a;
						}
						.cusLevel{
							img.type1{
								position: relative;
								top: toRem(4px);
								float: left;
								margin-right: toRem(4px);
								width: toRem(24px);
								height: toRem(24px);
							} 
							img.type2{
								position: relative;
								top: toRem(-2px);
								width: toRem(37px);
								margin: 0 toRem(6px);
							}
							img.type3{
								width: toRem(108px);
								height: toRem(26px);
								margin: 0;
							}
						}
						
					}
				}
				.mint-cell.autoHei{
					height: auto;
				}
				.mint-cell:last-child:before{
					border-bottom: 0;
				}
			}
			.mint-indexlist-nav{
				background-color: transparent;
				.mint-indexlist-navitem{
					font-size: toRem(22px);
				    color: #c0c6cd;
				    font-weight: bolder;
				}
			}	
		} 
		
		
		
	}
	.searchbar{
		position: relative; 
	    background-color: #e6e6ec;
	    i{
    	    position: absolute;
		    left: 40%;
		    top: 50%;
		    z-index: 2;
		    color: #808086;
		    transform: translate(0,-50%);
		    -webkit-transform: translate(0,-50%);
	    }
	    .alignLeft{
	    	left: 7%;
	    }
		.searchbar-input{
			margin: toRem(15px) toRem(30px);
			padding: 0 toRem(20px);
			height: toRem(68px);
			line-height: toRem(68px);
			background-color: #fff;
			font-size: toRem(28px);
			color: #808086;	
		    border-radius: toRem(8px);
		    text-align: center;
		    outline: none;
		    transition: text-align 2s;
			-webkit-transition: text-align 2s; /* Safari 和 Chrome */
		}
		.searchbar-input.inputFocus{
	    	text-align: left;
	    	padding-left: 9%;
	    }
	}
	.haveOpen{ 
	    margin: 0;
		width: 100%;
		height: toRem(100px);
		line-height: toRem(100px);
	    background-color: #fff;
		font-size: toRem(32px);
		color: #808086;
	    border-top: solid 1px #e4e7f0;
	} 
	
}