.toast .loading {
  margin: toRem(40px) 0;
  height:toRem(110px);
}

.loading {
  width: toRem(120px);
}

.toast {
  padding: 12px 15px;
}

.toast-lg {
  padding: 0 26px;
}

.toast-message {
  @include font(16px);
}
