#noviceNav {
	position:fixed;
    top:0;
    width:100%;
    height:2.5rem;

    span {

    	&:nth-child(1),
    	&:nth-child(2) {
    		display: inline-block;
		    width:7%;
		    height:1.5rem;
		    transform: translate(55%,37%);
    	}

    	&:nth-child(1) {
    		background:url("../images/back.png") no-repeat;
    		background-size: 100%;
    	}

    	&:nth-child(2) {
    		background:url("../images/title-search.png") no-repeat;
    		background-size: 100%;
    	}

    }
}