@import '../../adequacy/style/info.scss';

@mixin font($font-size) {

 	font-size: $font-size;

	[data-dpr = '2'] & {
		font-size: $font-size * 2;
	}

	[data-dpr = '3'] & {
		font-size: $font-size * 3;
	}
}

@function toRem($px) {
 	@return $px / 75px * 1rem;
}

body{
	background-color: #f7f7fa;
}

.cusInfo{
	.container{
		margin-top: 44px;

		.cusList{
			padding: 0;
			//margin: 0 0 0 toRem(30px);
		    overflow: hidden;
	        background-color: #f7f7fa;
			.cusItem{
				display: block;
			    overflow: hidden;
			    border-bottom: solid 1px #e4e7f0;
				div{
				    float: left;
			        height: toRem(88px);
    				line-height: toRem(88px);
    				font-size: toRem(32px);
    				color: #1a1a1a;
				}
				div:first-child{
					width: 25%;
				}
				div:last-child{
				    padding-right: toRem(30px);
					width: 75%;
					color: #808086;
    				text-align: right;
				}
			}
			.cusItem.type2{
				padding: toRem(32px) 0;
				div{
					height: inherit;
					line-height: inherit;
				}
			}
			.cusItem.groupLast{
				margin-bottom: toRem(20px);
				border-bottom: 0;
			}
		}
		.cusList > div{
			padding-left: 15px;
		    background-color: #fff;
		}
		.remarks{
			margin-bottom: toRem(100px);
			padding: .4rem;
    		background-color: #fff;
			textarea{
				padding: 0;
				width: 100%;
				border:0;
				font-size: toRem(32px);
				color: #808086;
				outline: none;
			}
		}
	}
}