.detail {
  padding: 0 10px;
}
.detail .detail-title {
  padding: 5px 0;
  font-size: 19px;
  color: #1a1a1a;
}
.detail .detail-info {
  display: flex;
  font-size: 10px;
  color: #1a1a1a;
}
.detail .detail-info .detail-info-text {
  flex: 1;
}
.detail .detail-info .detail-btn-text {
  width: 25px;
  height: 25px;
  background: url(../images/字体-默认.png) no-repeat right center;
  background-size: 15px 15px;
}
.detail .detail-info .detail-btn-text:active {
  background-image: url(../images/字体-@2x.png);
}
.detail .detail-html {
  padding-bottom: 38px;
}
.operate {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 37px;
  padding: 0 10px;
  border-top: 1px solid #c0c6cd;
  background: #ffffff;
}
.operate .sc {
  flex: 1;
}
.operate .sc button {
  height: 37px;
  padding-left: 20px;
  background: url(../images/收藏-默认.png) no-repeat 0 center;
  background-size: 17.5px 15px;
}
.operate .sc button.active {
  background-image: url(../images/收藏-选中.png);
}
.operate .zan button {
  height: 37px;
  padding-left: 20px;
  padding-right: 10px;
  background: url(../images/赞-默认.png) no-repeat 0 9px;
  background-size: 16.5px 16.5px;
}
.operate .zan button.active {
  background-image: url(../images/赞--选中.png);
}
.operate .fx a {
  display: inline-block;
  width: 16.5px;
  height: 37px;
  background: url(../images/转发-默认.png) no-repeat 0 center;
  background-size: 16.5px 15px;
}
.operate .fx a.active {
  background-image: url(../images/转发-选中.png);
}
.setting-font {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.setting-font .setting-finsh {
  height: 37px;
  background: #eff0f1;
  text-align: right;
}
.setting-font .setting-finsh button {
  height: 100%;
}
.setting-font .font-size button {
  height: 30px;
  width: 100%;
  background: #d0d2d7;
  border-bottom: 1px solid #e4e7f0;
  color: #1a1a1a;
}
.setting-font .font-size button:last-child {
  border-bottom: none;
}
.setting-font .font-size button.small {
  font-size: 11px;
}
.setting-font .font-size button.middle {
  font-size: 14px;
}
.setting-font .font-size button.large {
  font-size: 17px;
}
.setting-font .font-size button.active {
  color: #fe0000;
}
.bottom-transition-enter,
.bottom-transition-leave-active {
  bottom: -100%;
}
.bottom-transition-enter-active,
.bottom-transition-leave-active {
  transition: bottom .5s;
}
