.message-presents {
  border-top: 1px solid #B1B1B1;
  text-align: center;
  margin-top: 20px;

  &:last-child {
    border-bottom: 0;
  }
  .message-list {
    display: flex;
    border-bottom: 1px solid #E8E8E8;

    span {
      padding: 2px;
    }
    .message-list-title {
      background-color: #ececec;
      flex: 0 0 25%;
    }
    .message-list-data
    {
        display: flex;
    }
    .message-list-coulmn {
      flex: 0 0 25%;
    }
  }
}
