.company-select {
  text-align: left;
  .company-select-option {
    padding: 10px 5px;
    border-bottom: 1px solid #f7f1f1;
    display: inline-block;
    color: #000;
    width: 50%;
    text-align: center;
  }
  .active {
    color: #00aeef;
  }
}

.header-select {
  background-color: #fff;
}

.header-select .selection-component {
  width: 100%;
  position: relative;
}

.header-select .selection-component .selection-show {
  text-align: left;
  width: 100%;
  border: 1px solid #e3e3e3;
  padding: 0 20px 0 10px;
  display: block;
  position: relative;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  border-radius: 3px;
  background: #fff;
}

//.header-select .selection-component .selection-show .arrow-down {
//   position: absolute;
//   right: 18px;
//   top: 11px;
//   display: inline-block;
//   border-left: 4px solid transparent;
//   border-right: 4px solid transparent;
//   border-top: 5px solid #9e9696;
//   width: 0;
//   height: 0;
//   margin-top: -1px;
//   margin-left: 6px;
//   margin-right: -14px;
//   vertical-align: middle;
// }
//
//.header-select .selection-component .selection-show .arrow-up {
//  position: absolute;
//  right: 18px;
//  top: 11px;
//  display: inline-block;
//  border-left: 4px solid transparent;
//  border-right: 4px solid transparent;
//  border-bottom: 5px solid #9e9696;
//  width: 0;
//  height: 0;
//  margin-top: -1px;
//  margin-left: 6px;
//  margin-right: -14px;
//  vertical-align: middle;
//}

.header-select .selection-component .selection-show .arrow-down {
  position: absolute;
  right: 6px;
  top: 10px;
  width: 11px;
  height: 8px;
  background-image: url(../images/selectdown@2x.png);
  background-repeat: no-repeat;
  background-size: 9px 5px;
}

.header-select .selection-component .selection-show .arrow-up {
  position: absolute;
  right: 6px;
  top: 10px;
  width: 11px;
  height: 8px;
  background-image: url(../images/selectup@2x.png);
  background-repeat: no-repeat;
  background-size: 9px 5px;
}

.header-select .row {
  margin: 0 15px;
}

.header-select .item {
  padding: .5rem 0;

  &:after {
    content: " ";
  }
}

.header-select .item:not(:last-child) {
  margin-right: 1.5rem;
}

.range1 {
  background-image: url(../images/NO.1@2x.png);
  background-repeat: no-repeat;
  background-size: 26px 25px;
}
.range2 {
  background-image: url(../images/NO.2@2x.png);
  background-repeat: no-repeat;
  background-size: 26px 25px;
}
.range3 {
  background-image: url(../images/NO.3@2x.png);
  background-repeat: no-repeat;
  background-size: 26px 25px;
}
