.text-info {
  color: #eb1212;
}
.bg-info {
  background: #eb1212;
}
.text-color1 {
  color: #3366cc;
}
.text-color2 {
  color: #fe0000;
}
.text-color3 {
  color: #14a238;
}
.text-color4 {
  color: #1dbf60;
}
.text-color5 {
  color: #f75f5f;
}
.text-color15 {
  color: #ffffff;
}
.text-color16 {
  color: #b6bbc2;
}
.text-color17 {
  color: #808086;
}
.text-color18 {
  color: #1a1a1a;
}
.text-color22 {
  color: #f7f7fa;
}
.text-color23 {
  color: #e4e7f0;
}
.text-color26 {
  color: #e6e6ec;
}
.text-color28 {
  color: #dfdfdf;
}
.text-color29 {
  color: #5c90f9;
}
.text-color45 {
  color: #f0f1f2;
}
.text-color46 {
  color: #4c4c55;
}
.text-color47 {
  color: #c0c6cd;
}
.text-color48 {
  color: #f7f8f9;
}
.text-color49 {
  color: #ecf8fd;
}
.text-color50 {
  color: #2868e8;
}
.text-color51 {
  color: #add79a;
}
.text-color52 {
  color: #fb8463;
}
.bg-color1 {
  background: #3366cc;
}
.bg-color2 {
  background: #fe0000;
}
.bg-color3 {
  background: #14a238;
}
.bg-color4 {
  background: #1dbf60;
}
.bg-color5 {
  background: #f75f5f;
}
.bg-color15 {
  background: #ffffff;
}
.bg-color16 {
  background: #b6bbc2;
}
.bg-color17 {
  background: #808086;
}
.bg-color18 {
  background: #1a1a1a;
}
.bg-color22 {
  background: #f7f7fa;
}
.bg-color23 {
  background: #e4e7f0;
}
.bg-color26 {
  background: #e6e6ec;
}
.bg-color28 {
  background: #dfdfdf;
}
.bg-color29 {
  background: #5c90f9;
}
.bg-color45 {
  background: #f0f1f2;
}
.bg-color46 {
  background: #4c4c55;
}
.bg-color47 {
  background: #c0c6cd;
}
.bg-color48 {
  background: #f7f8f9;
}
.bg-color49 {
  background: #ecf8fd;
}
.bg-color50 {
  background: #2868e8;
}
.bg-color51 {
  background: #add79a;
}
.bg-color52 {
  background: #fb8463;
}
.font-10 {
  font-size: 15px;
}
.font-11 {
  font-size: 12px;
}
.font-13 {
  font-size: 11px;
}
.font-14 {
  font-size: 10px;
}
.font-19 {
  font-size: 9px;
}
.font-20 {
  font-size: 8px;
}
.font-23 {
  font-size: 13px;
}
.font-24 {
  font-size: 17px;
}
.font-25 {
  font-size: 18px;
}
.font-26 {
  font-size: 14px;
}
.font-28 {
  font-size: 21px;
}
.font-29 {
  font-size: 19px;
}
.font-30 {
  font-size: 40px;
}
.font-32 {
  font-size: 18px;
}
.font-33 {
  font-size: 16px;
}
.font-34 {
  font-size: 19px;
}
.font-35 {
  font-size: 20px;
}
.font-36 {
  font-size: 25px;
}
.font-37 {
  font-size: 22px;
}
