@import './style.scss';
@import './_checkCompany.scss';
@import './_detail.scss';
@import './_home.scss';
//@import './_indexNm.scss';
//@import './_indexWx.scss';
@import './_institution.scss';
@import './_variety.scss';
@import './_institutionChart.scss';
@import './_uiInfos.scss';
@import './_jgdx.scss';
@import './_inventory.scss';
@import './_productRanking.scss';
.toast .loading {
  width: 60px;
  margin: 20px 0;
}


.toast {
  padding: 12px 15px;
}

.toast-lg {
  padding: 0 20px;
}

.toast-message {
  font-size: 16px;
}

.toast .loading {
  height: auto;
}

.toast {
  font-size: 0;
}
