.pobo-nopotential-cunstomer {
  @extend %common-wrapper;

  .pobo-customer-header {
    background-image: url('../images/88pxpersionalInfo@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    .pb-common-nav {
      background-color: transparent;

      .customer-add-delete {
        display: flex;
        height: 44px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }

    .customer-add-delete {
      .add-delete-icon {
        height: toRem(9px);
        width: toRem(36px);
      }
    }

  }
  .customer-info-grid {
    height: toRem(202px);
    width: 100%;
    background-image: url('../images/NewcustomerBG@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
    .customer-info-group {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-left: toRem(30px);
      padding-right: toRem(30px);

      .left-avatar {
        position: relative;
        height: toRem(114px);
        width: toRem(114px);
        background-image: url('../images/customer-woman@2x.png');
        background-repeat: no-repeat;
        background-size: cover;

        .avatar-cover {
          position: absolute;
          box-sizing: content-box;
          top: toRem(-6px);
          left: toRem(-6px);
          height: 100%;
          width: 100%;
          border: toRem(6px) solid rgba(255, 255, 255, 0.2);
          border-radius: 50%;
          z-index: 1;
        }

      }
      .center-info-list {
        flex: 1;
        margin-left: toRem(23px);
        display: flex;
        flex-direction: column;
        .info-name-group {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          .info-name {
            line-height: 1;
            color: #ffffff;
            @include font(16px);
          }
          .info-star {
            margin-left: toRem(12px);
            height: toRem(24px);
          }

          .info-new {
            margin-left: toRem(12px);
            height: toRem(24px);
          }
        }
        .info-zjzh,
        .info-yingye {
          line-height: 1;
          margin-top: toRem(18px);
          color: rgba(255, 255, 255, 0.7);
          @include font(13px);
        }
      }
      .right-arrow {
        height: toRem(29px);
        width: toRem(15px);
        background-image: url('../images/showdetail@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .zhanwei-div {
    height: 43px;
    width: 100%;
    background-color: #f7f7fa;
    display: none;
    .customer-tab-group {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    height: 100%;
    .account-tips,
    .yewu-liushui,
    .genjin-record {
      position: relative;
      @include bottom-px1-pixel-ratio;
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #1a1a1a;
      @include font(16px);
    }

    .selected-record {
      color: #3366cc;

      .selected-line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: toRem(4px);
        background-color: #3366cc;
      }
    }
  }

  }
  .customer-tab-wrapper {
    height: 43px;
    width: 100%;
    background-color: #f7f7fa;
    .customer-tab-group {
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      height: 100%;
      .account-tips,
      .yewu-liushui,
      .genjin-record {
        position: relative;
        @include bottom-px1-pixel-ratio;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #1a1a1a;
        @include font(16px);
      }

      .selected-record {
        color: #3366cc;

        .selected-line {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: toRem(4px);
          background-color: #3366cc;
        }
      }
    }
  }

  .pobo-customer-center {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #f7f7fa;
    position: relative;
  }

  .pobo-customer-footer {
    height: toRem(98px);
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    position: relative;
    @include top-px1-pixel-ratio;

    .message-footer,
    .mobile-phone-footer,
    .new-follow-footer {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .message-footer {
      .message-icon {
        height: toRem(65px);
        width: toRem(40px);
      }
    }

    .mobile-phone-footer {
      .mobile-phone-icon {
        height: toRem(67px);
        width: toRem(38px);
      }
    }

    .new-follow-footer {
      .new-follow-icon {
        height: toRem(65px);
        width: toRem(79px);
      }
    }
  }

  .no-potential-group {
    background-color: #ffffff;
    .no-potential-edit {
      height: toRem(115px);
      position: relative;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #3366cc;
      @include font(18px);
      @include bottom-px1-pixel-ratio;
    }
    .no-potential-cancel {
      height: toRem(87px);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #3366cc;
      @include font(18px);
    }
  }
}
