.potential-customer-info {
  @extend %common-wrapper;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  .potential-info-center {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    //-webkit-overflow-scrolling: auto;
    background-color: #f7f7fa;

    .customer-input-group {
      background-color: #ffffff;
      padding-left: toRem(30px);
      &:not(:first-child) {
        margin-top: toRem(20px);
      }
      .customer-input-item {
        input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
          color: $color47;
        }
        input:-moz-placeholder, textarea:-moz-placeholder {
          color: $color47;
        }
        input::-moz-placeholder, textarea::-moz-placeholder {
          color: $color47;
        }
        input:-ms-input-placeholder, textarea:-ms-input-placeholder {
          color: $color47;
        }

        input:disabled,
        textarea:disabled,
        .remarks-text-area:disabled {
          -webkit-text-fill-color: #1a1a1a;
          -webkit-opacity: 1;
          color: #808086;
        }

        &:last-child {
          &:before {
            border-bottom: none;
          }
        }
        padding-right: toRem(30px);
        height: toRem(88px);
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        word-break: break-all;
        @include bottom-px1-pixel-ratio;
        .input-item-name {
          height: 100%;
          flex: 1;
          display: flex;
          flex-direction: row;
          align-items: center;
          color: #1a1a1a;
          @include font(16px);

          .user-must-icon {
            width: toRem(16px);
            height: toRem(14px);
            margin-left: toRem(12px);
          }
        }
        .input-item-breakwrod {
          height: auto;
          align-items: flex-start;
        }
        .input-item-input {
          width: toRem(482px);
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          color: #808086;
          text-align: right;
          outline: none;
          @include font(16px);
          position: relative;
          .item-input-date {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
            outline: none;
            border: none;
            opacity: 0;
          }
          span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
          }
          .item-input-content {
            padding: 0;
            outline: none;
            border: none;
            text-align: right;
            color: #1a1a1a;
            width: 100%;
            @include font(16px);
            background-color: transparent;
          }
        }
        .item-input-color {
          color: $color47;
        }
        .item-click-input {
          color: #1a1a1a;
        }
        .customer-showdetail-arrow {
          margin-left: toRem(20px);
          width: toRem(15px);
          height: toRem(29px);
        }
      }

      .customer-breakword-item {
        align-items: flex-start;
        height: auto;
        padding-top: toRem(32px);
        padding-bottom: toRem(32px);
        line-height: toRem(46px);
        position: relative;
      }
    }

    .customer-remarks {
      margin-top: toRem(20px);
      width: 100%;
      height: toRem(200px);
      padding: toRem(30px);
      background-color: #ffffff;
      .remarks-text-area {
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        color: #808086;
        background-color: transparent;
        padding: 0;
        font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
        word-break: break-all;
        @include font(16px);
      }
    }
  }
}
