.pobo-potential-customer {
  @extend %common-wrapper;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;

  .pobo-customer-header {
    height: toRem(290px);
    background-image: url('../images/customerBG@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    .pb-common-nav {
      background-color: transparent;
      .customer-add-delete {
        display: flex;
        height: 44px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
    }

    .customer-add-delete {
      .add-delete-icon {
        height: toRem(9px);
        width: toRem(36px);
      }
    }

    .customer-info-grid {
      flex: 1;
      display: flex;
      .customer-info-group {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: toRem(30px);
        padding-right: toRem(30px);

        .left-avatar {
          position: relative;
          height: toRem(114px);
          width: toRem(114px);
          background-image: url('../images/customer-man@2x.png');
          background-repeat: no-repeat;
          background-size: cover;

          .avatar-cover {
            position: absolute;
            box-sizing: content-box;
            top: toRem(-6px);
            left: toRem(-6px);
            height: 100%;
            width: 100%;
            border: toRem(6px) solid rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            z-index: 1;
          }

        }
        .center-info-list {
          flex: 1;
          margin-left: toRem(23px);
          display: flex;
          flex-direction: column;
          .info-name-group {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .info-name {
              line-height: 1;
              color: #ffffff;
              @include font(16px);
            }
            .info-star {
              margin-left: toRem(12px);
              height: toRem(24px);
            }

            .info-new {
              margin-left: toRem(12px);
              height: toRem(24px);
            }
          }
          .info-zjzh,
          .info-yingye {
            line-height: 1;
            margin-top: toRem(18px);
            color: rgba(255, 255, 255, 0.7);
            @include font(13px);
          }
        }
        .right-arrow {
          height: toRem(29px);
          width: toRem(15px);
          background-image: url('../images/showdetail@2x.png');
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }

  .pobo-customer-center {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    background-color: #f7f7fa;

    .followup-record-warpper {
      .followup-record-content {
        background-color: #ffffff;
        padding-left: toRem(30px);
        .record-item {
          &:last-child {
            &:before {
              border-bottom: none;
            }
          }
          height: toRem(100px);
          box-sizing: border-box;
          position: relative;
          @include bottom-px1-pixel-ratio;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          padding-right: toRem(30px);
          .item-left {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .item-name {
              flex: 1;
              color: #1a1a1a;
              line-height: 1;
              @include font(16px);
            }
            .item-time {
              flex: 1;
              line-height: 1;
              color: #808086;
              @include font(15px);
            }
          }

          .item-right {
            width: toRem(418px);
            align-items: center;
            color: #1a1a1a;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @include font(15px);
          }

          .record-arrow {
            margin-left: toRem(30px);
            height: toRem(29px);
            width: toRem(15px);
          }
        }
      }
      .followup-record-header {
        height: toRem(86px);
        margin-top: toRem(20px);
        background-color: #ffffff;
        padding-left: toRem(30px);
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #3366cc;
        @include font(16px);
        @include bottom-px1-pixel-ratio;
        .record-header-tips {
          margin-right: toRem(14px);
          height: toRem(28px);
          width: toRem(8px);
        }
      }
    }
  }
  .pobo-customer-footer {
    height: toRem(98px);
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    position: relative;
    @include top-px1-pixel-ratio;

    .message-footer,
    .mobile-phone-footer,
    .new-follow-footer {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .message-footer {
      .message-icon {
        height: toRem(65px);
        width: toRem(40px);
      }
    }

    .mobile-phone-footer {
      .mobile-phone-icon {
        height: toRem(67px);
        width: toRem(38px);
      }
    }

    .new-follow-footer {
      .new-follow-icon {
        height: toRem(65px);
        width: toRem(79px);
      }
    }
  }
  .no-potential-group {
    background-color: #ffffff;
    .no-potential-edit {
      height: toRem(115px);
      position: relative;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #3366cc;
      @include font(18px);
    }
    .no-potential-delete {
      height: toRem(115px);
      position: relative;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #fe0000;
      @include font(18px);
      @include bottom-px1-pixel-ratio;
    }
    .no-potential-cancel {
      height: toRem(87px);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #3366cc;
      @include font(18px);
    }
  }
}
