.signature {
  .header-bung {
    padding-top: 44px;
    background: #f7f7fa;
  }

  height: 100%;

  background-color: #e0e0e0;
  .canvas-signature {
    width: 100%;
    height: calc(100% - 44px);
    background: #fff;
  }

  .popu {
    position: fixed;
    left: 15px;
    top: 59px;
    font-size: $fontSize33;
    color: $color47;
    z-index: 100;
  }
}
