.apply_fill {
  @extend %initial;
  .conter {
    overflow: auto;
    .fill_type {
      //padding-top: toRem(20px);
    }
    .fill_group {
      display: flex;
      align-items: center;
      background: $color15;
      padding: 0 toRem(30px);
      position: relative;
      @include border-Bbottom-color23;
      height: toRem(88px);
      span {
        font-size: $font33;
        color: $color18;
        &:nth-of-type(2) {
          flex: 1;
        }
        &.c4 {
          color: $color47;
        }
        &.c1 {
          color: $color1;
        }
      }
      input[type='text'] {
        border: 0;
        outline: none;
        height: 100%;
        font-size: $font33;
        text-align: right;
        flex: 1;
      }
      input[type='date'] {
        width: 96%;
        outline: none;
        position: absolute;
        opacity: 0;
      }
      span:nth-of-type(2) {
        text-align: right;
      }
      img {
        margin-left: toRem(30px);
      }
    }
    .fill_group:first-child {
      &:before {
        border: 0;
      }
    }
    .text_field {
      margin-top: toRem(20px);
      background: $color15;
      padding: toRem(34px) 0 0 toRem(30px);

      font-size: $font33;
      height: auto;
      .annex_icon {
        height: toRem(36px);
        margin: toRem(15px) toRem(30px) toRem(34px) 0;
        background: url("../apply/images/fuJian.png") no-repeat right;
        background-size: toRem(36px);
        position: relative;
        input[type="file"] {
          position: absolute;
          width: 100%;
          height: 100%;
          outline: none;
          opacity: 0;
        }
      }
      textarea {
        font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;
        font-size: $font33;
        border: 0;
        outline: none;
        width: 100%;
        height: toRem(220px);
        padding-right: toRem(30px);
      }
    }
  }
}
