.staffInfo{

    .av-dropdown-group {
        .av-dropdown-selected {
            position: relative;
            height: 43px;
            background-color: #fff;
            @include bottom-px1-pixel-ratio;
            .filterArea{
                position: absolute;
                width: 100%;
                left: 0;
                top: 43px;
                z-index: 2;
                background-color: #fff;
                .department{
                    display: flex;
                    -webkit-box-align: center;
                    height: toRem(662px);
                    ul{
                        margin: 0;
                        padding: toRem(25px) 0;
                        height: toRem(662px);
                        overflow-y: auto;
                        text-align: center;
                        li{
                            height: toRem(70px);
                            line-height: toRem(70px);
                            list-style: none;
                            font-size: toRem(28px);
                            color: #1a1a1a;
                        }
                        li.active{
                            background-color: #fff;
                        }
                    }
                    ul.area{
                        width: toRem(164px);
                        background-color: #f7f8f9;
                    }
                    ul.yingye{
                        -webkit-box-flex: 1;
                        -webkit-flex: 1;
                        flex: 1;
                        display: block;
                        padding-left: toRem(60px);
                        text-align: left;
                    }
                }
                .filterAreaMask{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: rgba(0,0,0,0.4);
                }
            }
            .av-selected-items {
                height: 43px;
                line-height: 43px;
                width: 100%;
                float: left;
                font-size: 0;
                text-align: center;
                position: relative;
                .selected-items-text {
                    font-size: toRem(28px);
                    color: #1a1a1a;
                    vertical-align: middle;
                }
                .down-dria {
                    vertical-align: middle;
                    margin-left: .26667rem;
                    display: inline-block;
                    width: toRem(20px);
                    height: toRem(12px);
                    background-image: url(../images/downchoosedefault@2x.png);
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    background-size: .26667rem .16rem;
                }
                .split-line {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    height: toRem(40px);
                    width: 1px;
                    background-color: #e4e7f0;
                    margin-top: toRem(-21px);
                }
            }
            .av-selected-items.active{
                span{
                    color: #3366cc;
                }
                .down-dria{
                    background-image: url(../cmApproval/images/others/upchoosedefault@2x.png);    
                }
            }
        }
    }
    .pb-common-nav{
        .navbar-footer{
            position: relative;
            img{
                width: toRem(38px);
                height: toRem(38px);
                position: absolute;
                top: 50%;
                right: toRem(30px);
                z-index: 1;
                transform: translate(0,-50%);
                -webkit-transform: translate(0,-50%);
            }
        }
    }
    .container{

        .content{
            .group{
                margin: 0;
                padding: 0;
                background-image:none;
                .cell{
                    position: relative;
                    margin-left: toRem(30px);
                    padding: 0;
                    height: toRem(134px);
                    background-image:none;
                    @include bottom-px1-pixel-ratio;
                    .cell-body{
                        p{
                            margin-bottom: 0;
                        }
                        p:first-child{
                            font-size: toRem(32px);
                            color: #1a1a1a;
                        }
                        p:last-child{
                            font-size: toRem(28px);
                            color: #808086;
                        }
                    }
                }
                .cell:last-child:before{
                    border: 0;
                }
            }
        }

        
    }
    
    
}